[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = ">=3.14.4"

[dev-packages]
build = ">=0.3.1.post1"
twine = "*"

[requires]
python_version = "3.8"
